<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/styles/styles.css" />
    <script src="https://unpkg.com/htmx.org@1.9.2"></script>
    <script src="https://cdn.jsdelivr.net/npm/add-to-calendar-button@2"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />

    <title>Forgetful Gardener</title>
    <!-- I used an LLM to help me setup the htmx spinner object -->
  </head>
  <body>
    <div class="main container">
      <div class="instructions row justify-content-center">
        <div class="col-12 col-md-6">
          <h1>🌸 Forgetful Gardener 🌵</h1>
          <ul class="steps">
            <li>Take a photo 📸 of your plant care label like this:</li>
            <li>
              <img
                id="example-photo"
                class="img-fluid"
                src="/static/images/Bacopa_cropped.jpg"
              />
            </li>
            <li>Upload it to our app.</li>
            <li>Get a digital copy of your plant care instructions. 😎</li>
            <li>Modify the frequency as desired. 👍</li>
            <li>
              Download the calender reminder for watering, fertilizing, and
              more! 😍
            </li>
          </ul>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6">
          <form
            hx-post="/upload"
            hx-encoding="multipart/form-data"
            hx-trigger="change from:#photo"
            hx-target="#results"
            hx-swap="innerHTML"
            hx-on:error="this.innerHTML = event.detail.xhr.responseText"
            hx-indicator="#spinner"
          >
            <div class="input-group mb-3 col-sm-6">
              <input
                id="photo"
                type="file"
                name="file"
                accept="image/*"
                capture="environment"
                class="form-control"
              />
            </div>
            <img
              id="spinner"
              class="htmx-indicator"
              src="/static/images/spinning-dots (1).svg"
              alt="Processing..."
            />
          </form>
          <div id="results"></div>
        </div>
      </div>
    </div>
  </body>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-sm-6">
        <hr class="mt-5" />
        <footer>
          <p>
            This project was coded by
            <a href="https://github.com/asiddiqi16" target="_blank"
              >Ariba Siddiqi</a
            >
            and is on
            <a
              href="https://github.com/asiddiqi16/forgetful-gardner"
              target="_blank"
            >
              GitHub</a
            >
            <br />
            <a
              href="https://www.svgbackgrounds.com/elements/animated-svg-preloaders/"
              >Animated SVG Preloaders by SVGBackgrounds.com</a
            >
          </p>
        </footer>
      </div>
    </div>
  </div>
  <script>
    document.getElementById("photo").addEventListener("click", function () {
      document.getElementById("results").innerHTML = "";
      var elem = document.getElementById("results");
      elem.scrollIntoView();
    });
  </script>
</html>
